# ************************
# * Printer configuration
# * Ender3 v2, SKR Mini e3 v3, Revo Hemera
# ************************
[include macros/*.cfg]


# ************************
# * MCU Config
# ************************
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_420014000450415339373620-if00

[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_0A002B001450425539383920-if00

[mcu RPI]
serial: /tmp/klipper_host_mcu


# ************************
# * Kinematics
# ************************
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4600
max_z_velocity: 15
max_z_accel: 100

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
homing_speed: 75
position_endstop: -1
position_min: -1
position_max: 270

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
homing_speed: 75
position_endstop: -11
position_min: -11
position_max: 264

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -0.5
position_max: 250

[stepper_z1]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 8


# ************************
# * Thermals
# ************************
[extruder]
step_pin: EBB: PD0
dir_pin: EBB: PD1
enable_pin: !EBB: PD2
microsteps: 16
rotation_distance: 8.131
nozzle_diameter: 0.8
filament_diameter: 1.750
heater_pin: EBB: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBB: PA3
pressure_advance: 0.05
min_temp: 0
max_temp: 300
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 130
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182


# ************************
# * Bed Leveling
# ************************
[bed_mesh]
speed: 300
mesh_min: 10, 10
mesh_max: 220, 220
probe_count: 6, 6
horizontal_move_z: 6

[screws_tilt_adjust]
speed: 200
screw1: 65, 30
screw1_name: Bottom Left
screw2: 234, 29
screw2_name: Bottom Right
screw3: 234, 199
screw3_name: Top Right
screw4: 65, 199
screw4_name: Top Left
horizontal_move_z: 6


# ************************
# * Homing
# ************************
[safe_z_home]
home_xy_position: 150, 117.5
speed: 300
z_hop: 6


# ************************
# * G-Code Features
# ************************
[virtual_sdcard]
path: /home/pi/gcode_files

[pause_resume]

[display_status]

[respond]


# ************************
# * Resonance Compensation
# ************************
[adxl345]
cs_pin: EBB: PB12
spi_software_sclk_pin: EBB: PB10
spi_software_mosi_pin: EBB: PB11
spi_software_miso_pin: EBB: PB2
axes_map: -z, x, -y

[resonance_tester]
accel_chip: adxl345
probe_points:
    117, 117, 20


# ************************
# * Config File Helpers
# ************************
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


# ************************
# * Bed Probe
# ************************
[bltouch]
sensor_pin: ^EBB: PB8
control_pin: EBB: PB9
x_offset: -36.2
y_offset: 0.0
pin_move_time: 0.4
probe_with_touch_mode: True
pin_up_touch_mode_reports_triggered: False
stow_on_each_sample: False
samples: 2
#z_offset: 10


# ************************
# * Fans
# ************************
[heater_fan extruder_fan]
# FAN1
pin: EBB: PA0

[heater_fan controller_fan]
# This is a heater fan because it should not turn on when only the steppers are on
# FAN2
pin: PC6

[fan]
# part cooling fan
# FAN2
pin: EBB: PA1
kick_start_time: 0.75
off_below: 0.05


# ************************
# * Steppers
# ************************
[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.580
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: EBB: PA15
run_current: 0.650
stealthchop_threshold: 999999

# ************************
# * Filament Sensors
# ************************
[filament_switch_sensor filament_sensor]
switch_pin: ^PC15
pause_on_runout: False
runout_gcode:
    PAUSE E=0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 4.086
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.041250, 0.068750, 0.066250, 0.072500, 0.081250, 0.100000
#*# 	0.046250, 0.062500, 0.063750, 0.068750, 0.067500, 0.081250
#*# 	0.066250, 0.090000, 0.078750, 0.088750, 0.086250, 0.097500
#*# 	0.087500, 0.097500, 0.091250, 0.101250, 0.082500, 0.107500
#*# 	0.103750, 0.111250, 0.101250, 0.105000, 0.077500, 0.070000
#*# 	0.101250, 0.101250, 0.095000, 0.097500, 0.095000, 0.077500
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 6
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 220.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 38.232
#*# pid_ki = 6.069
#*# pid_kd = 60.214
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 72.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 39.6
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.644
#*# pid_ki = 1.346
#*# pid_kd = 824.721
